<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <!-- header -->

  <main>
    <h1>Movie Database</h1>
    <div id="movies"></div>
  </main>

  <!-- footer -->
  
  <script src="./js/allMovies.js"></script>
</body>
</html>